In [15]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv(r'C:\Users\ADMIN\Documents\python\Eda Projects\Covid_worldwide_analysis\covid_worldwide.csv')

In [17]:
print(df)

     Serial Number           Country  Total Cases  Total Deaths  \
0                1               USA    104196861     1132935.0
1                2             India     44682784      530740.0
2                3            France     39524311      164233.0
3                4           Germany     37779833      165711.0
4                5            Brazil     36824580      697074.0
..             ...               ...          ...           ...
226            227  Diamond Princess          712          13.0
227            228      Vatican City           29           NaN
228            229    Western Sahara           10           1.0
229            230        MS Zaandam            9           2.0
230            231           Tokelau            5           NaN

     Total Recovered  Active Cases    Total Test    Population
0        101322779.0     1741147.0  1.159833e+09  3.348053e+08
1         44150289.0        1755.0  9.152658e+08  1.406632e+09
2         39264546.0       95532.0  2.714902e+08  6.558452e+07
3         37398100.0      216022.0  1.223324e+08  8.388360e+07
4         35919372.0      208134.0  6.377617e+07  2.153536e+08
..               ...           ...           ...           ...
226            699.0           0.0           NaN           NaN
227             29.0           0.0           NaN  7.990000e+02
228              9.0           0.0           NaN  6.261610e+05
229              7.0           0.0           NaN           NaN
230              NaN           5.0           NaN  1.378000e+03

[231 rows x 8 columns]

In [18]:
print("\nFirst 10 rows of the data and last 10 rows of data: ")
print(df.head(10))
print(df.tail(10))

First 10 rows of the data and last 10 rows of data:
   Serial Number   Country  Total Cases  Total Deaths  Total Recovered  \
0              1       USA    104196861     1132935.0      101322779.0
1              2     India     44682784      530740.0       44150289.0
2              3    France     39524311      164233.0       39264546.0
3              4   Germany     37779833      165711.0       37398100.0
4              5    Brazil     36824580      697074.0       35919372.0
5              6     Japan     32588442       68399.0       21567425.0
6              7  S. Korea     30197066       33486.0       29740877.0
7              8     Italy     25453789      186833.0       25014986.0
8              9        UK     24274361      204171.0       24020088.0
9             10    Russia     21958696      395108.0       21356008.0

   Active Cases    Total Test    Population
0     1741147.0  1.159833e+09  3.348053e+08
1        1755.0  9.152658e+08  1.406632e+09
2       95532.0  2.714902e+08  6.558452e+07
3      216022.0  1.223324e+08  8.388360e+07
4      208134.0  6.377617e+07  2.153536e+08
5    10952618.0  9.214464e+07  1.255848e+08
6      422703.0  1.580406e+07  5.132990e+07
7      251970.0  2.654782e+08  6.026277e+07
8       50102.0  5.225265e+08  6.849791e+07
9      207580.0  2.734000e+08  1.458059e+08
     Serial Number           Country  Total Cases  Total Deaths  \
221            222            Tuvalu         2805           NaN
222            223      Saint Helena         2166           NaN
223            224  Falkland Islands         1930           NaN
224            225        Montserrat         1403           8.0
225            226              Niue          747           NaN
226            227  Diamond Princess          712          13.0
227            228      Vatican City           29           NaN
228            229    Western Sahara           10           1.0
229            230        MS Zaandam            9           2.0
230            231           Tokelau            5           NaN

     Total Recovered  Active Cases  Total Test  Population
221              NaN        2805.0         NaN     12066.0
222              2.0        2164.0         NaN      6115.0
223           1930.0           0.0      8632.0      3539.0
224           1376.0          19.0     17762.0      4965.0
225            746.0           1.0         NaN      1622.0
226            699.0           0.0         NaN         NaN
227             29.0           0.0         NaN       799.0
228              9.0           0.0         NaN    626161.0
229              7.0           0.0         NaN         NaN
230              NaN           5.0         NaN      1378.0

In [19]:
print('\nMissing values in each column: ')
print(df.isnull().sum(),'\n')

Missing values in each column:
Serial Number       0
Country             0
Total Cases         0
Total Deaths        6
Total Recovered    21
Active Cases       19
Total Test         18
Population          3
dtype: int64

In [20]:
df['Total Recovered'] = df['Total Recovered'].fillna(0)
df['Total Deaths'] = df['Total Deaths'].fillna(0)
df['Total Cases'] = df['Total Cases'].fillna(0)
df['Total Test'] = df['Total Test'].fillna(0)
df['Active Cases'] = df['Active Cases'].fillna(0)
df.dropna()
print('DataFrame after handling missing values: ')
print(df,'\n')

DataFrame after handling missing values:
     Serial Number           Country  Total Cases  Total Deaths  \
0                1               USA    104196861     1132935.0
1                2             India     44682784      530740.0
2                3            France     39524311      164233.0
3                4           Germany     37779833      165711.0
4                5            Brazil     36824580      697074.0
..             ...               ...          ...           ...
226            227  Diamond Princess          712          13.0
227            228      Vatican City           29           0.0
228            229    Western Sahara           10           1.0
229            230        MS Zaandam            9           2.0
230            231           Tokelau            5           0.0

     Total Recovered  Active Cases    Total Test    Population
0        101322779.0     1741147.0  1.159833e+09  3.348053e+08
1         44150289.0        1755.0  9.152658e+08  1.406632e+09
2         39264546.0       95532.0  2.714902e+08  6.558452e+07
3         37398100.0      216022.0  1.223324e+08  8.388360e+07
4         35919372.0      208134.0  6.377617e+07  2.153536e+08
..               ...           ...           ...           ...
226            699.0           0.0  0.000000e+00           NaN
227             29.0           0.0  0.000000e+00  7.990000e+02
228              9.0           0.0  0.000000e+00  6.261610e+05
229              7.0           0.0  0.000000e+00           NaN
230              0.0           5.0  0.000000e+00  1.378000e+03

[231 rows x 8 columns]

In [27]:
print('Number of duplicate rows and columns: ',df.duplicated().sum())
df_no_duplicates = df.drop_duplicates()

Number of duplicate rows and columns:  0

In [28]:
print('Since no duplicates rows are avalaible so our data is like this:-> ')
print(df_no_duplicates)

Since no duplicates rows are avalaible so our data is like this:->
     Serial Number           Country  Total Cases  Total Deaths  \
0                1               USA    104196861     1132935.0
1                2             India     44682784      530740.0
2                3            France     39524311      164233.0
3                4           Germany     37779833      165711.0
4                5            Brazil     36824580      697074.0
..             ...               ...          ...           ...
226            227  Diamond Princess          712          13.0
227            228      Vatican City           29           0.0
228            229    Western Sahara           10           1.0
229            230        MS Zaandam            9           2.0
230            231           Tokelau            5           0.0

     Total Recovered  Active Cases    Total Test    Population
0        101322779.0     1741147.0  1.159833e+09  3.348053e+08
1         44150289.0        1755.0  9.152658e+08  1.406632e+09
2         39264546.0       95532.0  2.714902e+08  6.558452e+07
3         37398100.0      216022.0  1.223324e+08  8.388360e+07
4         35919372.0      208134.0  6.377617e+07  2.153536e+08
..               ...           ...           ...           ...
226            699.0           0.0  0.000000e+00           NaN
227             29.0           0.0  0.000000e+00  7.990000e+02
228              9.0           0.0  0.000000e+00  6.261610e+05
229              7.0           0.0  0.000000e+00           NaN
230              0.0           5.0  0.000000e+00  1.378000e+03

[231 rows x 8 columns]

In [29]:
print("Final DataFrame info using pandas: ")
print(df_no_duplicates.info())

Final DataFrame info using pandas:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Serial Number    231 non-null    int64
 1   Country          231 non-null    object
 2   Total Cases      231 non-null    int64
 3   Total Deaths     231 non-null    float64
 4   Total Recovered  231 non-null    float64
 5   Active Cases     231 non-null    float64
 6   Total Test       231 non-null    float64
 7   Population       228 non-null    float64
dtypes: float64(5), int64(2), object(1)
memory usage: 14.6+ KB
None

In [31]:
print("Now we want to find maximum deaths across countries: ")
df['Total Percent'] = df['Total Deaths'] * 100.00 / df['Total Cases']
print(df.head(14))
print(df.tail(14),'\n')

Now we want to find maximum deaths across countries:
    Serial Number    Country  Total Cases  Total Deaths  Total Recovered  \
0               1        USA    104196861     1132935.0      101322779.0
1               2      India     44682784      530740.0       44150289.0
2               3     France     39524311      164233.0       39264546.0
3               4    Germany     37779833      165711.0       37398100.0
4               5     Brazil     36824580      697074.0       35919372.0
5               6      Japan     32588442       68399.0       21567425.0
6               7   S. Korea     30197066       33486.0       29740877.0
7               8      Italy     25453789      186833.0       25014986.0
8               9         UK     24274361      204171.0       24020088.0
9              10     Russia     21958696      395108.0       21356008.0
10             11     Turkey     17042722      101492.0              0.0
11             12      Spain     13731478      118434.0       13557699.0
12             13    Vietnam     11526508       43186.0       10612479.0
13             14  Australia     11295446       18615.0       11235771.0

    Active Cases    Total Test    Population  Total Percent
0      1741147.0  1.159833e+09  3.348053e+08       1.087302
1         1755.0  9.152658e+08  1.406632e+09       1.187795
2        95532.0  2.714902e+08  6.558452e+07       0.415524
3       216022.0  1.223324e+08  8.388360e+07       0.438623
4       208134.0  6.377617e+07  2.153536e+08       1.892958
5     10952618.0  9.214464e+07  1.255848e+08       0.209887
6       422703.0  1.580406e+07  5.132990e+07       0.110892
7       251970.0  2.654782e+08  6.026277e+07       0.734009
8        50102.0  5.225265e+08  6.849791e+07       0.841097
9       207580.0  2.734000e+08  1.458059e+08       1.799324
10           0.0  1.627434e+08  8.556198e+07       0.595515
11       55345.0  4.710363e+08  4.671914e+07       0.862500
12      870843.0  8.582655e+07  9.895354e+07       0.374667
13       41060.0  7.883505e+07  2.606879e+07       0.164801
     Serial Number                Country  Total Cases  Total Deaths  \
217            218               Anguilla         3904          12.0
218            219                  Macao         3488         120.0
219            220  Saint Pierre Miquelon         3452           2.0
220            221      Wallis and Futuna         3427           7.0
221            222                 Tuvalu         2805           0.0
222            223           Saint Helena         2166           0.0
223            224       Falkland Islands         1930           0.0
224            225             Montserrat         1403           8.0
225            226                   Niue          747           0.0
226            227       Diamond Princess          712          13.0
227            228           Vatican City           29           0.0
228            229         Western Sahara           10           1.0
229            230             MS Zaandam            9           2.0
230            231                Tokelau            5           0.0

     Total Recovered  Active Cases  Total Test  Population  Total Percent
217           3879.0          13.0     51382.0     15230.0       0.307377
218           3357.0          11.0      7850.0    667490.0       3.440367
219           2449.0        1001.0     25400.0      5759.0       0.057937
220            438.0        2982.0     20508.0     10982.0       0.204260
221              0.0        2805.0         0.0     12066.0       0.000000
222              2.0        2164.0         0.0      6115.0       0.000000
223           1930.0           0.0      8632.0      3539.0       0.000000
224           1376.0          19.0     17762.0      4965.0       0.570207
225            746.0           1.0         0.0      1622.0       0.000000
226            699.0           0.0         0.0         NaN       1.825843
227             29.0           0.0         0.0       799.0       0.000000
228              9.0           0.0         0.0    626161.0      10.000000
229              7.0           0.0         0.0         NaN      22.222222
230              0.0           5.0         0.0      1378.0       0.000000

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Serial Number    231 non-null    int64
 1   Country          231 non-null    object
 2   Total Cases      231 non-null    int64
 3   Total Deaths     231 non-null    float64
 4   Total Recovered  231 non-null    float64
 5   Active Cases     231 non-null    float64
 6   Total Test       231 non-null    float64
 7   Population       228 non-null    float64
 8   Total Percent    231 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 16.4+ KB

In [38]:
# Renaming columns for clarity 
df = df.rename(columns = {
    'Serial Number' : "No.",
    'Total Cases' : 'T_cases',
    'Total Deaths' : 'T_deaths',
    'Total Recovered' : 'T_recovered',
    'Total Test' : 'T_test',
    'Total Percent' : 'T_percent',
    'Population' : 'Pop'
})

In [48]:
print("DataFrame Info(data types and non-null: ")
print(df.info())
print('\n')

DataFrame Info(data types and non-null:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No.           231 non-null    int64
 1   Country       231 non-null    object
 2   T_cases       231 non-null    int64
 3   T_deaths      231 non-null    int64
 4   T_recovered   231 non-null    int64
 5   Active Cases  231 non-null    int64
 6   T_test        231 non-null    int64
 7   Pop           228 non-null    float64
 8   T_percent     231 non-null    int64
dtypes: float64(1), int64(7), object(1)
memory usage: 16.4+ KB
None

In [49]:
#Show high percent of maximum deaths across countries
print(df[df['T_percent'] == df['T_percent'].max()])

     No.     Country  T_cases  T_deaths  T_recovered  Active Cases  T_test  \
229  230  MS Zaandam        9         2            7             0       0

     Pop  T_percent
229  NaN         22

In [50]:
print("DataFrame Info(data types and non-null: ")
print(df.info())
print('\n')

DataFrame Info(data types and non-null:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   No.           231 non-null    int64
 1   Country       231 non-null    object
 2   T_cases       231 non-null    int64
 3   T_deaths      231 non-null    int64
 4   T_recovered   231 non-null    int64
 5   Active Cases  231 non-null    int64
 6   T_test        231 non-null    int64
 7   Pop           228 non-null    float64
 8   T_percent     231 non-null    int64
dtypes: float64(1), int64(7), object(1)
memory usage: 16.4+ KB
None

In [51]:

df = df.drop(columns = ['No.'])
print('Final data frame after all operation : ')
print(df)
print('\nDataFrame info (data type and structure) : ')
print(df.info())

Final data frame after all operation :
              Country    T_cases  T_deaths  T_recovered  Active Cases  \
0                 USA  104196861   1132935    101322779       1741147
1               India   44682784    530740     44150289          1755
2              France   39524311    164233     39264546         95532
3             Germany   37779833    165711     37398100        216022
4              Brazil   36824580    697074     35919372        208134
..                ...        ...       ...          ...           ...
226  Diamond Princess        712        13          699             0
227      Vatican City         29         0           29             0
228    Western Sahara         10         1            9             0
229        MS Zaandam          9         2            7             0
230           Tokelau          5         0            0             5

         T_test           Pop  T_percent
0    1159832679  3.348053e+08          1
1     915265788  1.406632e+09          1
2     271490188  6.558452e+07          0
3     122332384  8.388360e+07          0
4      63776166  2.153536e+08          1
..          ...           ...        ...
226           0           NaN          1
227           0  7.990000e+02          0
228           0  6.261610e+05         10
229           0           NaN         22
230           0  1.378000e+03          0

[231 rows x 8 columns]

DataFrame info (data type and structure) :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       231 non-null    object
 1   T_cases       231 non-null    int64
 2   T_deaths      231 non-null    int64
 3   T_recovered   231 non-null    int64
 4   Active Cases  231 non-null    int64
 5   T_test        231 non-null    int64
 6   Pop           228 non-null    float64
 7   T_percent     231 non-null    int64
dtypes: float64(1), int64(6), object(1)
memory usage: 14.6+ KB
None